body {
    background-color: #385D67;
}

.navbar {
    background-color: #000;
    color: #4A9BB1;
}

.nav-link {
    text-shadow: -1px 1px 20px #b8b8b8
}

#bg {
    position: absolute;
    z-index: -100;
}


.container {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 1000px;
    height: auto;
    padding: 20px;
    border: 3px solid #13404C;
    border-radius: 20px;
    background-color: #637276;
    box-shadow: 0 0 10px 0 #2A464D
}

p {
    margin: 0;
    display: block;
    color: white;
    font-size: 20px;
    text-align: justify;
    filter: drop-shadow(0 0 1px black);
}

.container ul {
    margin-top: 10px;
    margin-left: 30px;
}

li {
    filter: drop-shadow(0 0 1px black);
    color: white;
    font-size: 20px;
}

ul {
    margin-bottom: 5px;
}

#img {
    width: 500px;
    margin-left: 30px;
    border-radius: 10px;
    float: right;
    box-shadow: 0 0 10px 2px #2A464D;

}

p span {
    text-decoration: line-through;
}

@media(min-width:1600px) {
    .container {
        margin-top: 75px;
    }
}

@media (max-width: 992px) {
    #img {
        width: 370px;
        margin-left: 20px;

    }

    .mask {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    #img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        float: none;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 536px) {
    .container ul {
        margin-left: 13px;
    }
}

@media(max-width: 412px) {
    .container {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 95%;
    }
}